<a href="https://colab.research.google.com/github/alexandre-sarquis/NLP/blob/main/inspecao%20da%20base%20NLP_TC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install psycopg

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting psycopg
  Downloading psycopg-3.1.6-py3-none-any.whl (167 kB)
     |████████████████████████████████| 167 kB 5.3 MB/s
Collecting backports.zoneinfo>=0.2.0
  Downloading backports.zoneinfo-0.2.1-cp38-cp38-manylinux1_x86_64.whl (74 kB)
     |████████████████████████████████| 74 kB 2.7 MB/s
Requirement already satisfied: typing-extensions>=4.1 in /usr/local/lib/python3.8/dist-packages (from psycopg) (4.4.0)
Installing collected packages: backports.zoneinfo, psycopg
Successfully installed backports.zoneinfo-0.2.1 psycopg-3.1.6

In [3]:
import psycopg

In [4]:
conn = psycopg.connect("dbname=postgres user=aluno_nlp_tc password=ALUNO_NLP_TC " + \
                       "port=5432 " + \
                       "host=ec2-18-231-126-109.sa-east-1.compute.amazonaws.com")

In [5]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
dfResultado = pd.read_sql('SELECT * FROM TABELA_NILC_NLP_TC LIMIT 10', conn)

In [8]:
dfResultado.head()

,id_index,vc_palavra,vt_norm_vet,dp_norma_vet
0,49,está,"[-0.13614100217819214, -0.02454799972474575, 0...",2.832114
1,50,pela,"[-0.039622001349925995, -0.1816670000553131, 0...",2.720916
2,51,também,"[0.08986099809408188, 0.018317999318242073, -0...",1.701378
3,52,nos,"[0.003203999949619174, -0.11206299811601639, 0...",2.777660
4,53,sobre,"[-0.02283800020813942, -0.06222200021147728, -...",2.694446

In [9]:
dfResultado2 = pd.read_sql('SELECT COUNT(*) FROM TABELA_NILC_NLP_TC', conn)

In [10]:
print(dfResultado2)

    count
0  594501

In [11]:
dfResultado3 = pd.read_sql('SELECT * FROM DECISOES_NLP_TC LIMIT 5', conn)

In [ ]:
dfResultado3.head()

In [13]:
dfResultado4 = pd.read_sql('SELECT COUNT(*) FROM DECISOES_NLP_TC', conn)

In [14]:
print(dfResultado4)

   count
0  13197